<template>
    <div class="admin">
        <!-- 左侧 -->
        <div class="menu" :style="{ width: menuWidth }">
            <!-- <el-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
            <el-radio-button :label="false">展开</el-radio-button>
            <el-radio-button :label="true">收起</el-radio-button>
            </el-radio-group> -->
            <el-menu :collapse-transition="false" default-active="1-4-1" class="el-menu-vertical-demo"
                @open="handleOpen" @close="handleClose" :collapse="isHiddenMenu" active-text-color="#409eff"
                background-color="#263445" text-color="#909399">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="iconfont icon-shouye"></i>
                        <span slot="title">后台首页</span>
                    </template>
                    <el-menu-item index="1-1" @click="jump('/welcome')"><i class="iconfont icon-dingdan"></i>欢迎页
                    </el-menu-item>
                    <el-menu-item index="1-2" @click="jump('/record')"><i class="iconfont icon-dingdan"></i>访客记录
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title">
                        <i class="iconfont icon-shangpin"></i>
                        <span slot="title">商品分类</span>
                    </template>
                    <el-menu-item index="2-1" @click="jump('/typeList')"><i class="iconfont icon-dingdan"></i>分类列表
                    </el-menu-item>
                    <el-menu-item index="2-2" @click="jump('/typeFound')"><i class="iconfont icon-dingdan"></i>分类创建
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title">
                        <i class="iconfont icon-shangpin"></i>
                        <span slot="title">商品属性</span>
                    </template>
                    <el-menu-item index="3-1" @click="jump('/goodsType')"><i class="iconfont icon-dingdan"></i>商品类型
                    </el-menu-item>
                    <el-menu-item index="3-2" @click="jump('/typeCreate')"><i class="iconfont icon-dingdan"></i>类型创建
                    </el-menu-item>
                    <el-menu-item index="3-3" @click="jump('/goodsAttr')"><i class="iconfont icon-dingdan"></i>商品属性
                    </el-menu-item>
                    <el-menu-item index="3-3" @click="jump('/attrCreate')"><i class="iconfont icon-dingdan"></i>属性创建
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="4">
                    <template slot="title">
                        <i class="iconfont icon-shangpin"></i>
                        <span slot="title">商品管理</span>
                    </template>
                    <el-menu-item index="4-1" @click="jump('/goodsList')"><i class="iconfont icon-dingdan"></i>商品列表
                    </el-menu-item>
                    <el-menu-item index="4-2" @click="jump('/goodsCreate')"><i class="iconfont icon-dingdan"></i>商品创建
                    </el-menu-item>
                    <el-menu-item index="4-3" @click="jump('/goodsBin')"><i class="iconfont icon-dingdan"></i>商品回收站
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="5">
                    <template slot="title">
                        <i class="iconfont icon-shangpin"></i>
                        <span slot="title">订单管理</span>
                    </template>
                    <el-menu-item index="5-1" @click="jump('/order')"><i class="iconfont icon-dingdan"></i>订单管理
                    </el-menu-item>
                    <el-menu-item index="5-2" @click="jump('/orderBin')"><i class="iconfont icon-dingdan"></i>订单回收站
                    </el-menu-item>
                    <el-menu-item index="5-3" @click="jump('/orderStatistic')"><i class="iconfont icon-dingdan"></i>订单统计
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="6">
                    <template slot="title">
                        <i class="iconfont icon-shangpin"></i>
                        <span slot="title">用户管理</span>
                    </template>
                    <el-menu-item index="6-1" @click="jump('/users')"><i class="iconfont icon-dingdan"></i>用户列表
                    </el-menu-item>
                    <el-menu-item index="6-2" @click="jump('/found')"><i class="iconfont icon-dingdan"></i>用户创建
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="7">
                    <template slot="title">
                        <i class="iconfont icon-shangpin"></i>
                        <span slot="title">角色管理</span>
                    </template>
                    <el-menu-item index="7-1" @click="jump('/role')"><i class="iconfont icon-dingdan"></i>角色列表
                    </el-menu-item>
                    <el-menu-item index="7-2" @click="jump('/create')"><i class="iconfont icon-dingdan"></i>角色创建
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="8">
                    <template slot="title">
                        <i class="iconfont icon-shangpin"></i>
                        <span slot="title">权限管理</span>
                    </template>
                    <el-menu-item index="8-1" @click="jump('/power')"><i class="iconfont icon-dingdan"></i>权限列表
                    </el-menu-item>
                </el-submenu>
            </el-menu>
        </div>

        <!-- 右侧 -->
        <div class="main">
            <div class="top">
                <div class="l">
                    <div class="btn" @click="handleMenu">
                        <i :class="menuIcon"></i>
                    </div>
                    <div class="breadcrumb"></div>
                </div>
                <div class="r">
                    <div class="header-user-con">
                        <!-- 全屏显示 -->
                        <div class="btn-fullscreen" @click="handleFullScreen">
                            <el-tooltip effect="dark" :content="fullscreen ? `取消全屏` : `全屏`" placement="bottom">
                                <i class="el-icon-rank"></i>
                            </el-tooltip>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <!-- 子级路由 -->
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            fullscreen: false,
            //是否隐藏菜单
            isHiddenMenu: false,
            //菜单宽度
            menuWidth: "200px",
            menuIcon: "el-icon-s-fold",
        };
    },
    methods: {
        // 全屏事件
        handleFullScreen () {
            let element = document.documentElement;
            if (this.fullscreen) {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            } else {
                if (element.requestFullscreen) {
                    element.requestFullscreen();
                } else if (element.webkitRequestFullScreen) {
                    element.webkitRequestFullScreen();
                } else if (element.mozRequestFullScreen) {
                    element.mozRequestFullScreen();
                } else if (element.msRequestFullscreen) {
                    // IE11
                    element.msRequestFullscreen();
                }
            }
            this.fullscreen = !this.fullscreen;
        },
        handleMenu () {
            (this.isHiddenMenu = !this.isHiddenMenu),
                (this.menuWidth = this.isHiddenMenu ? "64px" : "200px");
            this.menuIcon = this.isHiddenMenu ? "el-icon-s-unfold" : "el-icon-s-fold";
        },
        handleOpen (key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose (key, keyPath) {
            console.log(key, keyPath);
        },
    },
};
</script>

<style lang="scss" scoped>
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
    background: #263445;
}
.admin {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    //menu
    .menu {
        width: 200px;
        height: 100%;
        background: #263445;
        transition: width 0.28s;
        .el-menu {
            width: 100%;
            height: 100%;
        }
        ul {
            border: none;
        }
        .iconfont {
            font-size: 18px;
            margin-right: 10px;
        }
    }

    //main
    .main {
        //使用剩余空间
        flex: 1;
        // background: cornflowerblue;
        overflow-y: scroll;
        //top
        .top {
            width: 100%;
            height: 50px;
            margin-bottom: 30px;
            // background: pink;
            box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
            display: flex;
            justify-content: space-between;

            //left
            .l {
                width: 300px;
                height: 100%;
                // background: seagreen;
                overflow: hidden;
                .btn {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    float: left;
                    .el-icon-s-fold {
                        font-size: 24px;
                    }
                }
                .btn:hover {
                    background: white;
                    cursor: pointer;
                }
                .breadcrumb {
                    width: 200px;
                    height: 50px;
                    line-height: 50px;
                    // background: chartreuse;
                    float: left;
                }
            }

            //right
            .r {
                width: 240px;
                height: 100%;
                // background: sienna;
            }
        }

        //content
        .content {
            width: 96%;
            min-height: 100px;
            margin: auto;
            background: white;
            text-align: left;
        }
    }
}
</style>
